.castList {
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    border: 2px solid #f494f9;
    border-radius: 15px;
}

.castImg {
    width: 100px;
    height: 150px;
    margin-right: 10px;
    vertical-align: middle;
}